<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/7a0a501500.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header-sup">
            <div id="cabecera">
                <div id="logo">
                    <img  src="/images/logo-mercado-liebre.svg" alt="logo">
                </div id="busqueda">
                <form>
                    <input type="text" placeholder="Busca productos, marcas...">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <p id="compras"><b><i class="fa-solid fa-hand-holding-dollar"></i>Compra en coutas y sin tarjeta de credito</i></b></p>
        </div>
        <div>
            <nav id="barra-opc">
                <ul type="none">
                    <li><a href="#Oferta">Ofertas</a></li>
                    <li><a href="#Tiendas">Tiendas Oficiales</a></li>
                    <li><a href="#Vender">Vender</a></li>
                    <li><a href="#Ayuda">Ayuda</a></li>
                </ul> 
                <ul id="logos" type="none">
                    <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="#Compras">Mis compras <i class="fa-solid fa-bag-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
        <div id="boton-menu">
            <button><i id="menu" class="fa-solid fa-bars"></i></button>
        </div>
        <img id="logo-promo" src="/images/img-home-banner.jpg" alt="Logo-banner">
    </header>
    
    <main>
        <section id='UV'>
            <h2>Basado en tu última visita</h2>
            <div id="uv-flex">
                <article class="publicacion">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="desc-prod">
                        <i class="fa-solid fa-truck"></i>
                        <div class="flex-pd">
                            <b class="precio">$6.770</b>
                            <p class="descuento">40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="publicacion">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Mac">
                    <div class="desc-prod">
                        <i class="fa-solid fa-truck"></i>
                        <div class="flex-pd">
                            <b class="precio">$230.000</b>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="descripcion">MacBooK Pro 2019</p>
                    </div>
                </article>
                <article class="publicacion">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                    <div class="desc-prod">
                        <i class="fa-solid fa-truck"></i>
                        <div class="flex-pd">
                            <b class="precio">$70.500</b>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>  
                </article>
                <article class="publicacion">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart tv">
                    <div class="desc-prod">
                        <i class="fa-solid fa-truck"></i>
                        <div class="flex-pd">
                            <b class="precio">$23.200</b>
                            <p class="descuento">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div> 
                </article>
            </div>
        </section>
        <section id="Oferta">
            <h2>Ofertas</h2>
            <div id="uv-flex">
                <article class="publicacion">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="desc-prod">
                        <i class="fa-solid fa-truck"></i>
                        <div class="flex-pd">
                            <b class="precio">$6.770</b>
                            <p class="descuento">40% off</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="publicacion">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Mac">
                    <div class="desc-prod">
                        <i class="fa-solid fa-truck"></i>
                        <div class="flex-pd">
                            <b class="precio">$230.000</b>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="descripcion">MacBooK Pro 2019</p>
                    </div>
                </article>
                <article class="publicacion">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                    <div class="desc-prod">
                        <i class="fa-solid fa-truck"></i>
                        <div class="flex-pd">
                            <b class="precio">$70.500</b>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>  
                </article>
                <article class="publicacion">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart tv">
                    <div class="desc-prod">
                        <i class="fa-solid fa-truck"></i>
                        <div class="flex-pd">
                            <b class="precio">$23.200</b>
                            <p class="descuento">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div> 
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <section>
                <i class="fa-brands fa-cc-visa"></i><br>
                <b>Paga con tarjeta </b>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i><br>
                <b>Envio gratis desde $2.500</b>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i><br>
                <b>Seguridad, de principio a fin</b>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </section>
        </div>
        <p>● Copyright © 1999-2020 MercadoLiebre S.R.L.</p>     
    </footer>
</body>
</html>