*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
    font-family: roboto;
    font-size:3.5vw;
    color:black;
}

#logo img{
    width:auto;
}

ul a{
    text-decoration: none;
    color: black;
}
header form{
    text-align: center;
}

header #boton-menu{
    margin-left:45%;
}

header div button{
    background-color: #1259c3;;
    border-radius: 10%;
    color:white;
}

section h2{
    margin-bottom: 20px;
}

.precio{
    font-size: 3.2vw;
}

.descripcion, .descuento{
    font-size: 2vw;
}

footer section{
    text-align: center;
}
footer section i{
    color: #1259c3;
}

footer{
    padding-top: 30px;
}

main section .fa-solid{
    border:solid 1px lightgreen ;
    padding: 5px;
    border-radius:50% ;
    color: lightgreen;
}

main{
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}

#UV{
    background-color:#ebebeb;
}

#Oferta{
    background-color: #ebebeb;
}

article{
    margin-bottom: 10px;
}
.publicacion .desc-prod{
    width: 100%;
    padding-left:15px;
    padding-right:15px;

}

.publicacion img{
    width: 100%;
}

.desc-prod .descuento{
    color: green;
}

@media (max-width:361px) { /*Celular */
    /*Înicio del logo y buscador*/
    header{
        padding-top: 7%;
    }

    header #logo-promo{
        width: 100%;
        text-align: center;
        
    }
    #cabecera{
        display: flex;
        margin: 0px 10px;
        align-items:center ;
    }

    #compras{
        text-align: center;
        padding: 5% 0%;
    }

    #cabecera form{
        display:flex;
        background-color: white;
        height:100%;
        width: 100%;
        border: 1px  ;
        padding:5px 2px;
        border-radius: 3px;
    }

    #cabecera form input{
        padding-left: 5px ;
    }

    #cabecera form button,#cabecera form input{
        background-color: white;
        color:gray;
        width: 100%;
        border:0px;
        
    }
    #cabecera form button{
        width: 30%;
    }

    #cabecera form,#cabecera #logo{
        margin:2%; 
        flex-grow: 1; 
    }

    #logo img{
        width: 100%;
        height:auto;
    }
    /*Fin del logo y buscador*/
    /*Inicio del menu de opc */
    header div #menu{
        margin: 7px 7px;
    }
    header #boton-menu{
        margin-bottom: 10px;
        
    }
    
    #boton-menu button{
        border:0px;
    }

    nav{
        text-align: center;
    }

    nav ul{
        display: none;
        
    }
    /*Fin del menu de opc */
    /*Inicio de formulario*/
    main{
        width: 100%;
    }

    .formulario{
        display: flex;
        flex-direction: column;
    }

    .fecha-nac{
        align-items: center;
    }

    .fecha-nac input{
        width: 80%;
        margin :2.5% 10%;
        text-align: center;
        padding: 2.5%;
        border-radius: 5px;
        border:solid 1px lightgray;

    }

    .fecha-nac input[type="date"]{
        text-align: start;
    }

    .radio-check p{
        margin :2.5% 5%;
    }

    .radio-check .radios{
        display: flex;
    }

    .radio-check .label-titulo, .fecha-nac .label-titulo{
        margin-left: 3%;
    }

    .fecha-nac input[type="submit"]{
        border: 0%;
        background-color: #1259c3;
        color: white;    
    }
    /*Fin de formulario*/

}
@media (min-width:360px) and (max-width:768px) { /*Tablets */
    /*inicio del logo y buscador*/
    header{
        width: 100%;
        font-family: roboto;
        font-size:2vw;
        color:black;
    }
    header img{
        width: 100%;
        text-align: center;
    }

    #cabecera{
        display: flex;
        align-items:center;
    }
    
    #cabecera form{
        display:flex;
        width: 100%;
        height: auto;
        border: 1px  ;
        padding:5px 2px;
        border-radius: 3px;
    }

    #cabecera form input{
        padding-left: 5px ;
        flex-grow: 0.7;
        width: 100%;
    }
    #cabecera form,#cabecera #logo{
        margin:2%; 
        flex-grow: 1; 
    }


    #cabecera form button{
        flex-grow: 0.3;
        background-color:white;
        border:solid 1px black;
        color: gray;
        margin-left: 2px;
    }
    #compras{
        margin:2px;
    }

    
    #header-sup{
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        padding:5% 2%;
        justify-content: space-between;
    }
    #header-sup p,#header-sup div{
        flex-grow: 1;
    }

   
    div #barra-opc{
        display: flex;
        justify-content: space-between;
    }

    div #barra-opc ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    div #barra-opc #logos{
        display: flex;
        flex-wrap: wrap;
    }  

    div #barra-opc a{
        width: 100%;
        margin:0px 6px;
    }

    #boton-menu button{
        display :none;
    }

    #logo img{
        width:100%;
        height: auto;
    }
    /*inicio del logo y buscador*/
    /*Inicio de formulario*/
    main{
        width: 80%;
    }

    .formulario{
        display: flex;
        flex-direction: column;
    }

    .fecha-nac{
        align-items: center;
    }

    .fecha-nac input{
        width: 80%;
        margin :2.5% 10%;
        text-align: start;
        padding: 2.5%;
        border-radius: 5px;
        border:solid 1px lightgray;

    }

    .fecha-nac input[type="date"]{
        text-align: start;
    }

    .radio-check p{
        margin :2.5% 5%;
    }

    .radio-check .radios{
        display: flex;
    }

    .radio-check .label-titulo, .fecha-nac .label-titulo{
        margin-left: 3%;
    }

    .fecha-nac input[type="submit"]{
        border: 0%;
        background-color: #1259c3;
        color: white; 
        text-align: center;   
    }

    /*Fin de formulario*/
    /*Inicio de footer*/
    footer div{
        display: flex;
    }
    footer p{
        margin-top: 4%;
        margin-bottom: 2%;
        text-align: center;
    }
    /*Fin de footer*/    
}
@media (min-width:769px){ /* desktops*/
     
    /*inicio del logo y buscador*/
    header{
        width: 100%;
        font-family: roboto;
        font-size: 1.3vw;
        color:black;
        text-align: center;
    }

    header img{
        width: 100%;
        text-align: center;
    }

    #header-sup{
        display: flex;
        width: 90%;
        height: auto;
        align-items: center;
        padding:5% 2%;
        margin-left: 10%;
    
    }

    #header-sup p,#header-sup #cabecera, #header-sup #cabecera #logo{
        flex-grow: 1;
        width: 100%;
    }
   

    #cabecera{
        display: flex;
        align-items:center;
        
    }
    
    #cabecera form{
        display:flex;
        width: 100%;
        height: auto;
        border: 1px  ;
        padding:5px 2px;
        border-radius: 3px;
        height: 3.3vw;
    }

    #cabecera form input{
        padding-left: 5px ;
        flex-grow: 0.7;
        width: 70%;
    }
    #cabecera form,#cabecera #logo{
        margin:2%; 
        flex-grow: 1; 
    }


    #cabecera form button{
        flex-grow: 0.3;
        background-color:white;
        border:solid 1px black;
        color: gray;
        margin-left: 2px;
    }
    #compras{
        margin:2px;
    }

    div #barra-opc{
        display: flex;
        margin: 3px 10%;
        justify-content: space-between;
    }

    div #barra-opc ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    div #barra-opc #logos{
        display: flex;
    }  

    div #barra-opc a{
        width: auto;
        height: 10%;
        margin:0px 2vw;
    }

    #boton-menu button{
        display :none;
    }

    #logo img{
        width:100%;
        height: auto;
    }
    /*inicio del logo y buscador*/
    /*Inicio de formulario*/
    main{
        width: 50%;
        margin-top:5%;
        border-radius: 2%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .formulario{
        display: flex;
        flex-direction: column;
    }

    .fecha-nac{
        align-items: center;
    }

    .fecha-nac input{
        width: 60%;
        margin :2.5% 20%;
        padding: 2%;
        border-radius: 5px;
        border:solid 1px lightgray;
    }

    .fecha-nac input[type="date"]{
        text-align: start;

    }

    .radio-check p{
        margin :2.5% 5%;
    }

    .radio-check .radios{
        display: flex;
    }

    .radio-check .label-titulo, .fecha-nac .label-titulo{
        margin-left: 3%;
    }

    .fecha-nac input[type="submit"]{
        border: 0%;
        background-color: #1259c3;
        color: white; 
        width: 50%;
        margin-left:25%;
        text-align: center;   
    }
    .fecha-nac:hover input[type="submit"]{
        background-color: #457ac9;
    }

    #barra-opc a:hover{
        background-color:#0022AA ;
        border-radius: 7px;
        color:white;
        transition: all 0.7s;
    }
    /*Fin de formulario*/
    /*Inicio de footer*/
    footer div{
        display: flex;
    }
    footer p{
        margin-top: 4%;
        margin-bottom: 2%;
        text-align: center;
    }
    /*Fin de footer*/
    
}